@import 'variables';

.img-scroller {
  .tabs {
    display: table;
    margin: auto;
  }

  .tab {
    display: inline-block;
    height: 20px;
    width: 20px;

    &::after {
      background-color: $macister-black;
      border-radius: 5px;
      content: '';
      display: inline-block;
      height: 10px;
      margin: 5px;
      transition: background-color 1s;
      width: 10px;
    }

    &.active {
      &::after {
        background-color: $macister-orange;
      }
    }
  }

  img {
    display: none;
    margin: auto;
    max-width: fit-content;
    width: 100%;

    &.active {
      display: inherit;
    }
  }
}
