.img-scroller .tabs {
  margin: auto;
  display: table;
}

.img-scroller .tabs .tab {
  width: 20px;
  height: 20px;
  display: inline-block;
}

.img-scroller .tabs .tab:after {
  content: "";
  width: 10px;
  height: 10px;
  display: inline-block;
  background-color: #333;
  border-radius: 5px;
  margin: 5px;
  transition: background-color 1s;
}

.img-scroller .tabs .tab.active:after {
  background-color: #ff6c1d;
}

.img-scroller img {
  width: 100%;
  display: none;
}

.img-scroller img.active {
  display: inherit;
}

.img-scroller .modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.img-scroller .modal.active {
  display: block;
}

/*# sourceMappingURL=img-scroller.css.map */
