@import 'variables';
@import 'img-scroller';

html {
  background-color: $macister-black;
  color: $white;
  font-family: 'Ubuntu', sans-serif;
  height: 100vh;
  width: 100vw;
}

body {
  column-count: 2;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  width: 100%;
}

%panel {
  height: 100%;
  width: 100%;
}

.top {
  background-color: $macister-blacker;
  border-bottom-right-radius: 10px;
  box-shadow: 0 0 5px 1px $black;
  height: 4vh;
  left: 0;
  padding: 1vh 0;
  position: fixed;
  top: 0;

  div {
    display: inline-block;
    height: 100%;
  }

  img {
    height: 100%;
    margin: 0 1vw;
  }

  ul {
    display: inline;
    list-style: none;
    margin: 0;
    padding: 0;
    width: max-content;

    li {
      float: left;
    }

    .link {
      color: $white;
      display: block;
      font-size: 100%;
      height: calc(4vh - 10px);
      line-height: calc(4vh - 10px);
      margin-right: calc(1vw + 2px);
      padding: 5px 0;
      text-decoration: none;

      &.current {
        border-bottom: $macister-blue solid 5px;
        padding-bottom: 0;
      }

      &:hover {
        border-bottom: $macister-orange solid 5px;
        padding-bottom: 0;
      }
    }
  }
}

.left {
  @extend %panel;
  background-color: $macister-blue;
  box-shadow: 0 0 5px 1px $black;
  grid-column: 1;

  .img-scroller {
    display: block;
    margin-left: 5%;
    margin-top: 50vh;
    max-width: 90%;
    transform: translateY(-50%);
  }
}

.right {
  @extend %panel;
  display: flex;
  flex-direction: column;
  grid-column: 2;
  justify-content: center;

  .content {
    max-height: 100vh;
    overflow-y: auto;
  }

  h1 {
    font-size: 50px;
    margin-top: 0;
    text-align: center;
  }

  h2 {
    text-align: center;
  }

  p {
    margin-left: 10%;
    max-width: 80%;
    text-align: center;
  }

  .buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 5%;
    width: 90%;

    .link {
      border-radius: 5px;
      color: $white;
      display: inline-flex;
      height: 24px;
      line-height: 24px;
      margin: 0 10px 5px;
      padding: 8px;
      text-decoration: none;
      width: fit-content;

      img {
        height: inherit;
        padding-right: 4px;
      }

      &.discord {
        background-color: $discord;
      }

      &.download,
      &.activate {
        background-color: $macister-orange;
      }
    }
  }

  .grid {
    column-gap: 4%;
    columns: 2;
    display: inline-grid;
    grid-template-columns: 48%;
    margin-bottom: 30px;
    margin-left: 10%;
    width: 80%;

    p {
      margin: 0;
      max-width: 100%;
      text-align: center;
    }

    span {
      max-width: 20vw;

      &:nth-of-type(2n) {
        grid-column: 2;
      }

      &:last-of-type {
        &:nth-child(2n-1) {
          grid-column-end: 3;
          grid-column-start: 1;
          margin: auto;
        }
      }
    }
  }
}

aside {
  bottom: 6px;
  color: #d3d3d3;
  font-size: smaller;
  margin-left: 10px;
}
