.img-scroller .tabs {
  display: table;
  margin: auto;
}
.img-scroller .tab {
  display: inline-block;
  height: 20px;
  width: 20px;
}
.img-scroller .tab::after {
  background-color: #333;
  border-radius: 5px;
  content: "";
  display: inline-block;
  height: 10px;
  margin: 5px;
  transition: background-color 1s;
  width: 10px;
}
.img-scroller .tab.active::after {
  background-color: #ff6c1d;
}
.img-scroller img {
  display: none;
  margin: auto;
  max-width: fit-content;
  width: 100%;
}
.img-scroller img.active {
  display: inherit;
}

html {
  background-color: #333;
  color: #fff;
  font-family: "Ubuntu", sans-serif;
  height: 100vh;
  width: 100vw;
}

body {
  column-count: 2;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  width: 100%;
}

.right, .left {
  height: 100%;
  width: 100%;
}

.top {
  background-color: #0c0c0c;
  border-bottom-right-radius: 10px;
  box-shadow: 0 0 5px 1px #000;
  height: 4vh;
  left: 0;
  padding: 1vh 0;
  position: fixed;
  top: 0;
}
.top div {
  display: inline-block;
  height: 100%;
}
.top img {
  height: 100%;
  margin: 0 1vw;
}
.top ul {
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0;
  width: max-content;
}
.top ul li {
  float: left;
}
.top ul .link {
  color: #fff;
  display: block;
  font-size: 100%;
  height: calc(4vh - 10px);
  line-height: calc(4vh - 10px);
  margin-right: calc(1vw + 2px);
  padding: 5px 0;
  text-decoration: none;
}
.top ul .link.current {
  border-bottom: #0093e2 solid 5px;
  padding-bottom: 0;
}
.top ul .link:hover {
  border-bottom: #ff6c1d solid 5px;
  padding-bottom: 0;
}

.left {
  background-color: #0093e2;
  box-shadow: 0 0 5px 1px #000;
  grid-column: 1;
}
.left .img-scroller {
  display: block;
  margin-left: 5%;
  margin-top: 50vh;
  max-width: 90%;
  transform: translateY(-50%);
}

.right {
  display: flex;
  flex-direction: column;
  grid-column: 2;
  justify-content: center;
}
.right .content {
  max-height: 100vh;
  overflow-y: auto;
}
.right h1 {
  font-size: 50px;
  margin-top: 0;
  text-align: center;
}
.right h2 {
  text-align: center;
}
.right p {
  margin-left: 10%;
  max-width: 80%;
  text-align: center;
}
.right .buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 5%;
  width: 90%;
}
.right .buttons .link {
  border-radius: 5px;
  color: #fff;
  display: inline-flex;
  height: 24px;
  line-height: 24px;
  margin: 0 10px 5px;
  padding: 8px;
  text-decoration: none;
  width: fit-content;
}
.right .buttons .link img {
  height: inherit;
  padding-right: 4px;
}
.right .buttons .link.discord {
  background-color: #7289da;
}
.right .buttons .link.download, .right .buttons .link.activate {
  background-color: #ff6c1d;
}
.right .grid {
  column-gap: 4%;
  columns: 2;
  display: inline-grid;
  grid-template-columns: 48%;
  margin-bottom: 30px;
  margin-left: 10%;
  width: 80%;
}
.right .grid p {
  margin: 0;
  max-width: 100%;
  text-align: center;
}
.right .grid span {
  max-width: 20vw;
}
.right .grid span:nth-of-type(2n) {
  grid-column: 2;
}
.right .grid span:last-of-type:nth-child(2n-1) {
  grid-column-end: 3;
  grid-column-start: 1;
  margin: auto;
}

aside {
  bottom: 6px;
  color: #d3d3d3;
  font-size: smaller;
  margin-left: 10px;
}

/*# sourceMappingURL=index.css.map */
